[2013-04-09 21:19] gsnedders opened #1 "Mismatch with spec decoding entity 0x10FFFF"
Reported by aredridel, Nov 20, 2011

[2013-04-10 13:31] gsnedders opened #2 "skip first BOM test is invalid"
JSON transmits abstract Unicode strings, so a leading U+FEFF is a ZWNBSP and not a BOM. As such, the expectation should be that it is tokenized as "\ufefffoo\uffeff".

Of course, if you were to serialize it as UTF-16-BE and then parse it as UTF-16, then yes, you would have a BOM, but this is not the case.

/prod @davidflanagan given it's his TC.

[2013-04-11 12:29] #2 closed, assigned to nobody

[2013-04-13 18:19] gsnedders opened #3 "Test ">" in script data double escaped dash state"
html5lib-python used to have a bug where the dash dash state was used. Ought to have a test for it.

[2013-05-05 06:17] jmdyck opened #5 "documentation"
Is the format of test files documented anywhere?

[2013-05-23 07:39] jmdyck opened #7 "bugs in tokenizer/test1.test"
I believe there are some mistakes in tokenizer/test1.test,
specifically in the tests:
- Unfinished entity
- Partial entity match at end of file
- Non-ASCII character reference name
- Entity in attribute without semicolon ending in x
- Entity in attribute without semicolon ending in 1
- Entity in attribute without semicolon ending in i

Each of these includes a ParseError in its expected output, bu

[2013-05-30 16:14] gsnedders opened #9 "Add tests to ensure namespace is checked on the stack of open elements"
21:00 #whatwg: < Hixie> gsnedders: https://www.w3.org/Bugs/Public/show_bug.cgi?id=21308 indicates tests that html5lib needs

I haven't actually looked at this. The title should be clarified once someone has. :)

[2013-06-26 22:26] #7 closed, assigned to nobody

[2013-07-06 02:46] nolanw opened #14 "DOCTYPE parse errors missing from various tree construction tests"
Many tree construction tests should, but don't, include parse errors for absent or invalid `<!DOCTYPE>` elements. [cite](http://www.whatwg.org/specs/web-apps/current-work/multipage/tree-construction.html#the-initial-insertion-mode)

For an example of each, every test in `tree-construction/adoption01.dat` should include a parse error for the missing `<!DOCTYPE>`. And the fourth test in `tree-constr

[2013-07-22 15:29] #14 closed, assigned to nobody

[2013-08-30 20:01] jmdyck opened #19 "surrogate Unicode code points in input stream"
In tokenizer/unicodeCharsProblematic.test, the first 4 tests involve input streams containing U+DFFF or U+D800. In each case, the expected output includes:
(1) a parse error, and
(2) a character token in which the code point in question has been replaced by U+FFFD.

Looking at various versions of the HTML5 spec, I can't find justifications for the parse error or the replacement.

The closest I fou

[2013-09-05 21:04] gsnedders opened #20 "Add test for li in foster parent case"
https://github.com/html5lib/html5lib-python/issues/111

`<table><li><li></table>`

[code]

[2013-09-10 18:56] #1 closed, assigned to nobody

[2013-10-24 16:49] #5 closed, assigned to nobody

[2013-12-23 00:03] gsnedders opened #28 "Split encoding tests to those determined pre-parse and during-parse"
At the moment we only have tests that check we get the right encoding at the end. Really we want to be testing the meta pre-scan too (which is done for html5lib… by using any tests with less than 512 characters or something like that…).

[2013-12-23 00:04] gsnedders opened #29 "Remove sanitizer tests"
Nobody seems to have much interest in maintaining them, and to my knowledge nobody uses them. Having them encourages confusion and nothing else.

[2013-12-23 00:08] gsnedders opened #30 "Remove serializer tests"
These test specific serializer options, and expect character-for-character identical serializations: these belong in individual projects implementing the serializer, not being shared, as they are obviously not going to be universal. See https://github.com/html5lib/html5lib-python/pull/95 for something that gratuitously fails them despite having perfectly sensible output (arguably better than what

[2013-12-23 00:10] gsnedders opened #31 "Remove sites"
It's not clear quite why these are here, and they certainly aren't testcases per-se (what's their pass condition?!). I think originally to have some sort of shared files for testing performance on? It seems unlikely we have the copyright holders' permission to distribute them under the MIT license in the case of the Google results and the Python docs. @annevk?

[2013-12-23 00:16] gsnedders opened #32 "Remove sniffing tests"
These are certainly not up-to-date date vis-à-vis the [spec](http://mimesniff.spec.whatwg.org/), and nobody has said anything about them for years so I assume both that nobody cares and hence they won't be updated. As such, they're useless out of date tests which deserve to be killed with fire.

[2013-12-23 00:17] gsnedders opened #33 "Remove validator tests"
These haven't been updated in years, so I assume they're not actually correct vis-à-vis the spec. Additionally, the only real HTML validator currently maintained (to my knowledge) is Validator.nu, which has its own testsuite. @hsivonen, @sideshowbarker?

[2013-12-23 22:31] #31 closed, assigned to gsnedders

[2014-01-05 00:24] gsnedders opened #37 "Encoding tests should use the encoding name per the Encoding Standard"
We should move to match http://encoding.spec.whatwg.org/ instead of whatever we currently match (I think a lowercased version of the IANA character set registry?).

[2014-01-16 00:56] tabatkins opened #38 "`<wbr>` should serialize as a void element"
The `<wbr>` element is a void element, but is serialized with an end tag.  It's not present in the serialization tests, either.

[2014-08-14 09:11] #3 closed, assigned to gsnedders

[2014-08-14 09:12] #19 closed, assigned to gsnedders

[2014-08-19 11:29] sideshowbarker opened #48 "update ruby tests to support new(ish) #script-on #script-off format"
The ruby tests added in PR #27 need to be updated to support the #script-on #script-off format (see PR #43). Attention @darobin

[2014-08-19 14:10] #48 closed, assigned to nobody

[2014-09-23 07:22] nostrademons opened #51 "<rtc>/<rb> spec issues (More generally, which spec does html5lib follow?)"
I've been trying to update Gumbo to pass the latest version of the html5lib testsuite and run into a spec issue with tests_19_22.  The testcase is "<html><ruby>a<rtc>b<rt>c<rb>d</ruby></html>".  According to the [WhatWG version](https://html.spec.whatwg.org/multipage/syntax.html#parsing-main-inbody), there's no special parsing instructions for <rb>, so it should fall under the "any other start tag

[2014-10-01 06:10] #51 closed, assigned to nobody

[2014-12-03 18:16] gsnedders opened #53 "Add math:td test for "close the cell""
https://github.com/google/gumbo-parser/issues/278 fails on `<table><th><math><td></tr>`. We should add both that and `<table><td><math><th></tr>`.

[2015-02-09 19:41] nostrademons opened #54 "Tree-construction ruby test #14"
Input is "\<html>\<ruby>a\<rtc>b\<rp>\</ruby>\</html>", expected output is:

    <html html>
      <html head>
      <html body>
        <html ruby>
          "a"
          <html rtc>
            "b"
          <html rp>

However, the [W3C spec](http://www.w3.org/html/wg/drafts/html/master/syntax.html#parsing-main-inbody) text for \<rp> tags is "If the stack of open elements has a ruby element in s

[2015-02-10 07:00] nolanw commented on #54
The [WHATWG spec](https://html.spec.whatwg.org/multipage/syntax.html#parsing-main-inbody) does not agree with the W3C spec, and I think these tests aim to conform with WHATWG. By my reading the test accurately reflects the current WHTAWG spec.

As an aside, it's probably worth prominently mentioning somewhere (a readme, maybe) which spec these tests aim to, well, test.

[2015-02-12 17:12] gsnedders commented on #54
@nolanw AFAICT, there's not really any de-facto agreement as to what to do with Ruby, whether browsers are going to implement it (and whether the WHATWG spec will then follow).

[2015-02-12 17:58] nostrademons commented on #54
I'd asked in #51 which version of the spec I should be following for \<ruby>, and was told that the W3C version has been implemented in Webkit and Gecko and was underway in Blink, and the WhatWG version would presumably be updated to match shortly.  This is a one-off exception from the general guidelines that the WhatWG spec is more current.

My main concern is that there are 9 other html5lib ruby

[2015-02-12 18:03] gsnedders commented on #54
Oh, sorry, I've obviously not been paying enough attention to what's been implemented. :)

As far as I can tell, re: your question above, the expectation should be:

[code]

So yes, I agree the test is wrong.

[2015-02-18 18:31] #54 closed

[2015-04-05 23:55] gsnedders opened #56 "Better document the grammar of the test format"
We sorta document it as a tree-construction specific format. We should give the generic definition most people use.

It's something like the state machine below:

[code]

This shouldn't be much effort to convert into an LR(2) grammar; the LR(1) grammar equivalent may be hell.

[2015-04-05 23:59] gsnedders commented on #56
Basically what we want, for the terminals above, is:

[code]

Which is LR(2).

[2015-04-26 02:15] gsnedders opened #57 "Add tests for boolean attributes on hr"
See https://github.com/html5lib/html5lib-python/pull/80

[2015-04-29 00:46] gsnedders opened #58 "Update serializer tests to give expectations as per the HTML fragment serialisation algorithm"
Because our current expectations are crazy. (See #30.)

We should have expectations with attributes both in source order and in alphabetical order (the spec makes the order undefined, but we obviously can't test that).

[2015-04-29 00:48] gsnedders commented on #30
We won't. We'll make them sane. See #58.

[2015-04-29 00:48] #30 closed

[2015-04-29 00:53] gsnedders commented on #58
We should also update the input format to be something more sane. Probably just make it HTML, and allow fragments.

[2015-07-07 03:36] gsnedders commented on #37
#40 apparently fixed this. No idea why this is still open.

[2015-07-07 03:36] #37 closed

[2015-08-17 00:34] dangibson opened #61 "adoption01.dat:187 expects 'unexpected-implied-end-tag-in-table-view'"
At line 187 adoption01.dat has this test:

#data
<table><a>1<td>2</td>3</table>
#errors
(1,7): expected-doctype-but-got-start-tag
(1,10): unexpected-start-tag-implies-table-voodoo
(1,11): unexpected-character-implies-table-voodoo
(1,15): unexpected-cell-in-table-body
(1,30): unexpected-implied-end-tag-in-table-view
#document
| <html>
|   <head>
|   <body>
|     <a>
|       "1"
|     <a>
|       "3

[2015-08-17 09:10] gsnedders commented on #61
html5lib-python has for a long time ignored the errors sections of the tests. Also, the actual contents of those lines is meaningless, per the pretty poor documentation of the test syntax:

Someday they'll go back to being meaningful, though probably only insofar as the position is meaningful. (What error is thrown is actually a hard question, given it frequently makes sense to coalesce multiple p

[2015-08-17 09:27] dangibson commented on #61
Do you know where that error came from? Without something actually throwing that error, how do we know the test is correct and html5lib-python is wrong vs html5lib-python is correct and the test is wrong?
I'm implementing my own parser and I'm using html5lib-tests for testing and looking at html5-python for some reference related to the tests, but since html5lib-python doesn't throw that error, we

[2015-08-17 11:49] gsnedders commented on #61
`git-grep` might be useful (I presume we had that error at some point!), otherwise look at https://github.com/nolanw/HTMLReader, which the test results were last based off. Dealing with what's correct is normally done by hand-executing the spec.

There's little impetuous to do anything about the strings the lines contain, given per the README for the tests, the contents of the line is meaningless

[2015-08-19 18:26] nox opened #63 "Test HTML fragment parsing algorithm in template context"
https://html.spec.whatwg.org/multipage/#parsing-html-fragments

[2015-08-19 18:27] nox opened #64 "Test HTML fragment parsing algorithm in annotate-xml context with HTML encoding"
https://html.spec.whatwg.org/multipage/syntax.html#parsing-html-fragments
https://html.spec.whatwg.org/multipage/syntax.html#html-integration-point

[2015-09-01 14:40] inikulin opened #66 "Strange expected behavior in the `foreign-fragment.dat` test"
Hi, thank you for all your great work.

I have an issue figuring out how the following test from the `foreign-fragment.dat` should work:
[code]

According to the [fragment parsing algorithm](https://html.spec.whatwg.org/multipage/syntax.html#parsing-html-fragments) (step 4) we should initially set tokenizer mode to the `RCDATA state`, since we have a `<title>` as the fragment context. Therefore, t

[2015-09-01 17:46] gsnedders commented on #66
It's you missing something. :)

As you correctly note, the test is right if the fragment parsing algorithm only means the element in the HTML namespace. The cross-ref for `title` takes you to HTML title element (which is obviously in the HTML namespace). See also in the terminology section:

Perhaps we should change the spec so it explicitly says "HTML element" everywhere, but that seems like it'l

[2015-09-01 17:46] #66 closed

[2015-09-01 18:05] inikulin commented on #66
I've had the feeling that there is such terminology remark. But I've expected it to be in cross-ref for the `Element`, but it just led me to the [interface list].

Thank you!

[2015-09-01 18:13] inikulin commented on #66
However, you are right: it's obviously leads to the `HTMLTitleElement`.It's just fine as is.

[2015-09-16 02:39] gsnedders commented on #9
#67 has therefore have resolved this.

[2015-09-16 02:39] #9 closed

[2015-09-16 03:01] gsnedders commented on #63
So what do we need to test here? Ensuring it is on the stack of template insertion modes and hence the new current template insertion mode?

[2015-09-16 03:02] gsnedders commented on #53
We have some tests like what we need in `math.dat` now. Could do with way, way more.

[2015-09-18 22:21] nox commented on #63
@gsnedders Yes.

[2016-04-12 14:28] zcorpan opened #73 "Test AAA and marker"
Missing tests:

* `<b><applet></b>x`
* `<a><applet><a>x`

and similar for other tags that insert a marker.

See https://www.w3.org/Bugs/Public/show_bug.cgi?id=28433

[2016-05-15 17:22] iabudiab opened #78 "Incorrect expectations in tree-construction webkit02 tests"
Correct if I'm wrong. I could prepare a PR, but wanted to verify this first.

I believe the expectations for the following tests (15, 16, 17 in webkit02) to be incorrect:
`<b><em><foo><foo><foo><aside></b></em>`
`<b><em><foo><foo><foo><foo><foo><foo><foo><foo><foo><foo><aside></b></em>`
`<b><em><foo><foob><foob><foob><foob><fooc><fooc><fooc><fooc><food><aside></b></em>`

This `<b><em><foo><foo><fo

[2016-05-16 00:33] gsnedders commented on #78
Oh. *Those* tests. I remember them taking me quite a while to convince myself of their correctness. It *looks* like they're checking the interaction between the Noah's Ark clause and the AAA. I'm soon boarding a far-too-many-hours flight, hopefully I'll have convinced myself of their correctness or not by the end. :)

[2016-05-16 01:24] gsnedders commented on #78
The `em` is removed because of "If inner loop counter is greater than three and node is in the list of active formatting elements, then remove node from the list of active formatting elements" combined with "If node is not in the list of active formatting elements, then remove node from the stack of open elements and then go back to the step labeled inner loop", no? (When the inner loop counter is

[2016-05-16 01:25] gsnedders commented on #78
We have interop, and I'm pretty sure that's the key to working out what's going on.

[2016-05-16 13:06] iabudiab commented on #78
I've doen some calculations myself.

Here is is the state when first entering the AAA with `</b>` token:

Stack of Open Elements | Active Formatting Elements
---------------------------------|--------------------------------------
html, body, b, em, foo, foo, foo, aside | b, em

- In the outer loop we get the following:

Formatting Element | Furthest Block | Common Ancestor | Bookmark
------------

[2016-05-16 13:11] iabudiab commented on #78
And for the sake of completeness:
[WebKit Adoption Agency](https://github.com/WebKit/webkit/blob/bceb8646c36064cc34dfdb57335a4565f95f5c11/Source/WebCore/html/parser/HTMLTreeBuilder.cpp#L1465)
[html5lib-python Adoption Agency](https://github.com/html5lib/html5lib-python/blob/84e880226765fc99fa9687285e82d79f7354316c/html5lib/html5parser.py#L1582)

[2016-05-17 09:18] gsnedders commented on #78
Given this is getting into clarity of the spec: cc/ @domenic @annevk

[2016-05-17 11:05] annevk commented on #78
@RReverser or @zcorpan are probably much more able to address this than I am.

[2016-05-17 11:10] RReverser commented on #78
@zcorpan or maybe @inikulin are more likely to be able to answer this.

[2016-05-17 11:52] inikulin commented on #78
Just re-checked @iabudiab's steps per spec and in parse5 - test's expected value is wrong.

[2016-05-17 11:53] nox commented on #78
I don't see what in @iabudiab's explanation disproves what @gsnedders stated in https://github.com/html5lib/html5lib-tests/issues/78#issuecomment-219328831.

To me by the time the algorithm reaches `<em>`, the inner loop counter already reached 3 and thus `<em>` gets removed.

FWIW, html5ever passes this test.

[2016-05-17 11:55] zcorpan commented on #78
In Gecko I get this tree

[code]

i.e. no `em` in the `aside`. But WebKit/Chromium/IE11 have `aside, em, b`.

cc @hsivonen

[2016-05-17 11:56] inikulin commented on #78
I feel like there was some change to the spec which caused fragmentation in results

[2016-05-17 12:27] gsnedders commented on #78
From https://github.com/html5lib/html5lib-tests/issues/78#issuecomment-219420242 (@iabudiab)

You're saying that it doesn't get reached in Blink and WebKit because they break out of the loop when the inner loop counter is three, and hence that never gets hit? Given the spec doesn't have that breakout from the loop, it should therefore get removed, no?

[2016-05-17 12:54] gsnedders commented on #78
@inikulin https://github.com/whatwg/html/commit/22ce3c31 is why WebKit/Blink/IE11/html5lib-python has that behaviour

[2016-05-17 12:56] gsnedders commented on #78
As far as I can tell, @iabudiab's proposed behaviour is what would be expected by the spec prior to <https://github.com/whatwg/html/commit/22ce3c31>.

[2016-05-17 13:04] inikulin commented on #78
@gsnedders same in parse5

[2016-05-17 15:20] domenic commented on #78
Edge matches IE11, FWIW.

So is there agreement that that was a good spec change, and we should be filing bugs on WebKit/Blink/Edge/html5lib-python/parse5?

Or do we want to align with the majority, revert the spec change, and file bugs on Gecko/html5ever?

[2016-05-17 15:25] inikulin commented on #78
It would be nice to know motivation behind whatwg/html@22ce3c3

[2016-05-17 16:02] gsnedders commented on #78
@domenic html5lib-python just has a generic "update to match the spec" issue (it hasn't been properly updated in a long time) :)

@inikulin https://lists.w3.org/Archives/Public/public-whatwg-archive/2013Jul/0401.html

[2016-05-17 16:03] gsnedders commented on #78
@inikulin https://lists.w3.org/Archives/Public/public-whatwg-archive/2013Jul/0006.html which that is a response to gives more of it

[2016-05-17 16:25] gsnedders commented on #78
Notably, `<b><i><a><s><tt><div></b>abc</b></div></tt></s></a>xyz</i>` gives a non-sensical parse-tree (where `xyz` precedes `abc`) in the old spec/WebKit/Blink/Edge.

[2016-05-17 16:33] inikulin commented on #78
Well, I don't see a problem. With foster parenting you will have similar results: `<table><tr><td>123</td></tr><div>456</div></table>`. And IMHO such cases are more common than the one with AAA.

[2016-05-18 06:39] zcorpan commented on #78
Reordering in tables is something that all browsers did pre-HTML5. Reordering for misnested formatting elements is not.

Since it seems Gecko has successfully shipped the spec change, we should go ahead and implement it in the other browsers, too (unless we have data suggesting the new spec is less Web-compatible). The change in Gecko was https://bugzilla.mozilla.org/show_bug.cgi?id=901319

@travi

[2016-05-18 15:55] gsnedders commented on #78
So we have consensus that the tests are right v. the spec, and impls should change? Closing as a result. (If that understanding is wrong, feel free to reopen it. Or ping me if you can't.)

[2016-05-18 15:55] #78 closed

[2016-06-02 22:35] gsnedders opened #81 "namespace-sensitivity bogus passes"
It seems that namespace-sensitivity.dat can easily be passed while not considering namespaces in checking whether an element is in scope, which I believe is what it's supposedly testing. We ought to fix that.

[2016-06-06 20:52] #29 closed

[2016-06-06 20:52] #33 closed

[2016-06-06 20:52] #32 closed

[2016-06-21 02:16] gsnedders commented on #64
Does the test format even handle this? hmmm

[2016-11-17 21:58] travisleithead commented on #78
Mmm. The 2013 bug is likely gone with our old bug database. I opened an issue on our public tracker--you can monitor progress there: https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/9854392/

[2016-12-22 08:30] hsivonen opened #85 "Need tests for <dialog>"
There appear to be no tests for `<dialog>`. There should be some.

[2017-02-06 16:44] #20 closed

[2017-03-15 08:36] syjer opened #89 "Question/Issue about a test in tests18.dat"
Hi, recently, in tests18.dat the following test has been added in the commit (https://github.com/html5lib/html5lib-tests/commit/5fca014cf1e965e97cf37abe659dc585323aff52#diff-80f44ad8658d9cc87ce967f7514ebf8dR227):

[code]

Maybe I'm mistaken, but the "content" string is missing for the template element? (like all the others tests with a template element and as described in the README ("Template con

[2017-03-15 15:40] gsnedders commented on #89
@zcorpan this looks like a bug to me? (your test, from #87)

[2017-03-16 10:16] zcorpan commented on #89
Yep, I was not aware of the `content` string. https://checker.html5.org/parsetree/?parser=html5&content=<template>x%0D%0A&submit=Print+Tree doesn't emit that, either. @sideshowbarker ?

@syjer are you interested in fixing this?

[2017-03-16 10:45] syjer commented on #89
@zcorpan sure, I'll provide a pull request asap :)

[2017-03-16 12:21] #89 closed

[2017-06-23 18:52] inikulin opened #95 "We need basic linting for tests that will run on PRs"
As a first step we can just check that all tests are parsable and have all required fields with proper types.

[2017-06-23 19:34] gsnedders commented on #95
see #83 for an early implementation of one

[2017-07-03 13:18] syjer opened #96 "Question about the logic of merged "Character" tokens after PR #92 in tokenizer tests"
Hi, I've noticed that after the PR #92 in 2 test cases the "Character" tokens were merged even though some Tokenizer errors are present in between them.

Even though the "ParseError" is no more present in the output, all the tests are still in the following form (taken from test1.test):

[code]
Previously, a "ParseError" would be present in between the 2 "Character" tokens, so they would not be me

[2017-07-03 13:43] gsnedders commented on #96
They should all be merged.

cc/ @inikulin

[2017-07-03 13:47] syjer commented on #96
@gsnedders thank you for your prompt response, as a (temporary?) fix I'll merge them at runtime in my test suite.

[2017-07-03 16:23] inikulin commented on #96
@gsnedders we can do merging, but we will need to do it using automated tool and we will loose current formatting. If anyone is OK with that, then we can do it.

[2017-07-18 13:43] RReverser commented on #96
Found all of them with a simple one-liner, doesn't seem to be too many, can fix by hand:

[code]

[2017-07-18 14:09] inikulin commented on #96
@RReverser Hmm, I've expected that there should be much more than that. Do you mind updating your PR?

[2017-07-18 14:10] RReverser commented on #96
Yeah I'll reopen.

[2017-07-18 14:32] #96 closed

[2017-07-20 18:59] RReverser opened #99 "[Tracking issue] Document initialStates"
Currently `initialStates` are just told to be "strings, each being the name of a tokenizer state" and only `["data state"]` is mentioned (as a default, it doesn't appear explicitly in tests).

Such definition is a bit vague for consumers that want to use the provided test format.

[2017-07-21 12:01] RReverser opened #100 "[Suggestion] Add tokens to tree construction tests"
**Motivation:** Some HTML parsers (e.g. parse5 and our internal parser) provide a streaming mode in which tokenizer works as if it's executed together with tree construction algorithm, and so tokenizer states are correctly adjusted on certain tags.

Such adjustment is necessary for tokenizer to correctly tokenize contents of `<script>`, `<textarea>` and other special tags while still allowing stre

[2017-07-21 12:07] inikulin commented on #100
Browsers can benefit from this too, AFAIK most browsers have preparsers that are used for content pre-load. With this addition there will be a convenient way to test it.

@RReverser The only concern I have is that it will be way to hard to add new tests written by hand. Can we have some tool that generates token list for given markup?

[2017-07-21 12:12] RReverser commented on #100
@inikulin We have it in parse5, no? :)

[2017-07-21 12:13] RReverser commented on #100
Ah, got what you mean. You mean for literally new tests?

[2017-07-21 14:46] RReverser commented on #99
This is especially important because changes / new additions currently arrive silently (e.g. #92 introduced `CDATA section state`) and there is no clear list of states that must be exposed.

[2017-07-21 15:09] inikulin commented on #99
I guess the best solution will be to use state names as they are declared in spec. And then just point to the spec in the README for the comprehensive list of possible state names.

[2017-07-21 15:17] RReverser commented on #99
@inikulin That could work but tests use only few of these states, exposing every one of them would be quite inconvenient (if not impossible) for many parsers.

[2017-07-21 18:16] gsnedders commented on #100
Really if we do this, we could probably eliminate the tokenizer tests (and really, they're not that great: there's no way to run them against some implementations, like browsers, easily, and hence AFAIK no browser vendor runs them). At the same time, we can't just programmatically generate trees using some implementation because for some the interesting part of the test is something the tree const

[2017-07-21 18:17] gsnedders commented on #99
Yeah, I agree. Especially if someone reviews #83 and we can build some lint for this! I think all we need are the states the tree constructor moves us to, as everything else should be reachable from one of those?

[2017-07-21 18:18] gsnedders commented on #99
And yes, I believe they should just use the names as declared in the spec. I think we at some point just used lowercased spec names (for… reasons?).

[2017-07-21 19:11] RReverser commented on #100
Well we're not talking about trees, but about pure lists of tokens (unless you mean something else), which should still contain only actual tokens from the source, in the same order, with the only difference being that the tokenizer states were adjusted.

For example, this is how test generated by mentioned parse5 script currently looks like:

[code]

[2017-07-21 19:13] RReverser commented on #100
I guess... but for the start, would you accept a PR that adds `tokens` to tree-construction tests, and then we can discuss `tokenizer` tests separately?

[2017-07-21 19:13] RReverser commented on #99
Yeah, it was one of implicit breaking changes that led me to creating this issue.

[2017-07-25 21:36] #99 closed

[2017-08-10 13:44] gsnedders commented on #100
I meant for the `tokenizer` tests.

Yes.

[2017-08-17 14:39] wycats opened #102 "Parser tests without error cases"
We attempt to implement a valid parser for a large subset of valid HTML in Glimmer (including SVG, including foreign elements), but unfortunately we cannot use these tests.

The reason is that the tests liberally make use of invalid HTML (missing doctypes, no closing tags, etc.) for convenience, but since Glimmer is an offline build tool, we report real errors in these cases.

Right now, we make a

[2017-08-17 14:51] inikulin commented on #102
Testing of invalid HTML is one of reasons why these test suite exists in the first place. However, we are currently working on standardisation of parse errors both in spec and tests. Part for tokenisation was already [landed](https://github.com/whatwg/html/commit/32dbd7d5b938ffda725e74dba8a50ed0c3b83b6d) and we just started work on tree construction stage. So eventually you will be able to get sub

[2017-08-17 15:01] wycats commented on #102
I certainly want parse errors to be specified and in fact it's critical to me that I report the correct parse errors in my offline compiler.

Today, many tests use parse errors gratuitously. For example, it's hard (maybe impossible, but I can't tell) to find a test for the (valid) case of inserting a `<tbody>` if a `<tr>` is found directly inside of a `<table>`.

Here's an example test:

[code]

T

[2017-08-17 15:11] inikulin commented on #102
OK, I'm a bit confused now. What's the problem with errors if your parser can recover from errors like any spec compatible parser do? Or I'm missing something?

[2017-08-17 15:14] inikulin commented on #102
Or you just want more test cases to be added for valid markup? If so, it's up to you, we are happy to accept PRs.

[2017-08-17 15:19] wycats commented on #102
According to the spec:

We abort, in conformance with the spec, but the tests don't have a mode to test this conformant scenario.

[2017-08-17 15:29] inikulin commented on #102
Thank you for the clarification. The only thing that we can do at the moment is just to add more tests for valid scenarios. Any contribution is welcome.

[2017-08-17 15:31] wycats commented on #102
@inikulin would you take patches to add missing doctypes and closing tags in existing tests that gratuitously do not include them?

[2017-08-17 15:32] wycats commented on #102
@inikulin another possible refactoring could be to differentiate between real errors and errors that only arise as a result of early termination of the HTML document.

[2017-08-17 15:44] inikulin commented on #102
We would like to keep existing tests as is, since they are widely used by implementations that gracefully handle these errors (i.e. browsers). But we are open to accept new tests even if they are just valid versions of old one, you can place them in separate file, e.g. `valid.dat` and `valid.json`.

[2017-08-17 17:30] wycats commented on #102
@inikulin would you be open to adding more metadata to existing tests, like indicating whether an error is due to early termination of EOF? Can you think of a way to do that that wouldn't break existing consumers?

[2017-08-17 17:47] inikulin commented on #102
Well, parse errors is such metadata. It's well documented which tokenisation errors occur due to unexpected EOF.

[2017-08-17 17:48] inikulin commented on #102
Not implemented for tree construction stage, though

[2017-08-17 17:54] wycats commented on #102
@inikulin what I'm saying is that from my perspective there are "errors I am specifically trying to assert occur" and "errors that occur as a side effect of the way we wrote the test".

Errors that occur due to unexpected EOF can be treated specially in my tests, because I have the partially constructed tree that I can compare.

Maybe all I really need (and maybe this is already true) is that all

[2017-08-17 18:20] inikulin commented on #102
It's very unlikely that there will be new errors added in near future and if they would it will be a significant change to HTML syntax itself, so you will need to update your parser anyway. Meanwhile, you can find standard parse errors and their descriptions in spec: https://html.spec.whatwg.org/multipage/parsing.html#parse-errors

[2017-08-17 18:23] inikulin commented on #102
**(Apart from tree construction stage errors that are not in spec yet)***

[2017-08-17 18:33] inikulin commented on #102
My vision is that if any implementation requires some subset of tests based on some assertions it should create these subset on it's side and we provide all required prerequisites for it, such as *standard* and well documented error codes. Or if it's missing missing some test case we are open to accept new tests. I don't see any reason why some ad hoc solutions should get into these test suite.

[2017-08-17 18:46] inikulin commented on #102
Thinking of it a bit more, we can add support for implementations that bailout on parse errors. We can achieve this by inserting marker in expected markup that shows position of first parse errors. So  during testing it will be able to skip comparison of AST after this marker. However, it might not work in all cases, then error recovery mechanism modify AST that is already parsed before error poin

[2017-08-18 03:44] wycats commented on #102
@inikulin if there's a strategy that you're happy with, I'm willing to do some work to update the tests in that way.

One issue with the current tests is that a lot of the cases of "first parse error" is "missing doctype".

I've been thinking more about the issue of keeping the existing suite working for existing impls. One approach might be to accept some improvements to the metadata description,

[2017-09-01 12:48] inikulin commented on #102
@wycats Sorry, I've missed your last reply somehow. In my opinion for now the best solution will be the one that doesn't require any change in the existing test format. So, I vote for adding new tests  in the separate file (they can be modified existing tests).

[2018-05-15 17:02] nanchangweishao opened #105 "html5lib"

[2018-05-15 17:42] gsnedders commented on #105
This doesn't appear to be an actual issue?

[2018-10-01 17:24] stevecheckoway opened #107 "New and old parse errors"
I'm trying to test that an HTML parser produces the correct errors but some of the tests list `#errors` and `#new-errors` where the new errors seem to be the new standard names for old errors. For example,

[code]

I'm not sure why the first error is there, but I assume an older version of the standard had something like a look ahead on the `<`. As I read the standard, there should be an `unexpect

[2018-10-01 17:28] gsnedders commented on #107
Looking at https://github.com/html5lib/html5lib-tests/pull/92 again, which introduced these:

So I think in principle `#new-errors` should be complete for tokenizer errors, and the number of lines in `#errors` be the number of total parse errors (tokenizer+tree construction)?

[2018-10-01 17:44] stevecheckoway commented on #107
@gsnedders great, thanks! That eliminates about 250 test failures for me, 120 to go!

[2018-10-02 02:14] stevecheckoway commented on #107
@gsnedders Is https://github.com/html5lib/html5lib-tests/pull/113 the right approach here? Two of the errors aren't errors (any longer?) and it looks like one is now but wasn't before.

It's also possible that the error logic didn't actually flip as that PR would indicate and instead the test was just wrong before.

[2018-10-02 15:21] gsnedders commented on #107
@stevecheckoway FWIW the error data is by far the most likely to be wrong bit of data in the testsuite, because very few implementations use it, so it's entirely plausible that the test was just wrong

[2018-10-02 15:34] stevecheckoway commented on #107
@gsnedders Makes sense. Without standardized error names (at least until now), it's pretty tricky to test that the errors are correct. Number of errors is a pretty weak proxy so I can see why people wouldn't bother.

For what it's worth, those eight PRs resolve about half of the 120 test failures from different numbers of errors I'm getting when running against the `#script-off` tests with [Nokogu

[2018-10-15 13:06] peteroupc opened #120 ""hgroup" and "menu" test cases and HTML 5.2"
In `blocks`, the following test cases no longer correspond to HTML 5.2, since `hgroup` is now an ordinary element, and not a "special" element.

    <!doctype html><p>foo<hgroup>bar<p>baz

In that test case, an implied `</p>` end tag is no longer generated before the `<hgroup>` start tag.

    <!doctype html><hgroup><p>foo</hgroup>bar

In that test case, the `</hgroup>` end tag is now ignored sinc

[2018-10-16 23:46] peteroupc commented on #120
This also affects the following `<menu>` test case (in `template`):

    <body><template><i><menu>Foo</i>

[2019-11-05 17:18] squidfunk opened #123 "Add tests for quirks mode detection"
As [quirks mode](https://html.spec.whatwg.org/multipage/parsing.html#the-initial-insertion-mode:quirks-mode) and [limited-quirks mode](https://html.spec.whatwg.org/multipage/parsing.html#the-initial-insertion-mode:limited-quirks-mode) detection are both defined in the spec, may contain a lot of edge cases and can have pretty far-reaching implications down the line depending on the way the parsed H

[2019-12-16 15:16] danthedeckie opened #124 "\xa0 not interpreted as a space."
[code]

if the space between `img` and `src` is actually a `\xa0` byte, then strict mode throws an

[code]
Error, which isn't very helpful.

[2019-12-20 16:17] JKingweb opened #125 "Logic of eof-in-comment error positions"
I'm finishing up testing of a tokenizer implementation, which I've tried to make pass the test suite in its entirety, including line and column positions for parse errors.

While supplementary-plane characters counting for two columns has some logic to it, I find myself struggling to understand the logic behind the positions in the tests added by @hsivonen:

https://github.com/html5lib/html5lib-te

[2020-05-26 22:41] gsnedders commented on #58
wontfix given #30 removed them

[2020-05-26 22:42] gsnedders commented on #58
wait, no, that's untrue

[2020-05-26 23:17] gsnedders opened #127 "Future of this repo"
@whatwg/html-parser this repo has been pretty unloved for a while (see also: all the open PRs), so we should probably decide what we're doing with it.

As far as I'm aware, the encoding tests are only used by html5lib, the serializer tests are entirely unused (and in the browser case essentially supplanted by html/syntax/serializing-html-fragments/ in WPT), so outright dropping both of these costs

[2020-05-27 00:51] sideshowbarker commented on #127
I think we should move them, because there’s compelling value to moving them (together).

Rationale:

Given that we already have other test suites in WPT that cannot be run with the browser setting, and no WPT policy that prohibits adding more such test suites, at least it’s clear that there would be nothing blocking us from choosing to move the tokenizer tests into WPT along with the tree-constru

[2020-05-27 13:34] gsnedders commented on #127
FWIW, I agree with @sideshowbarker here; I was trying to avoid leading anyone to any specific decision in the OP.

On the whole my inclination is to migrate this all over in a few weeks unless anyone objects.

[2020-05-27 13:39] jgraham commented on #127
I don't object.

[2020-05-27 15:24] nolanw commented on #127
I use the encoding tests in my lil toy parser. That's no reason to keep them, just wanted to mention that the work wasn't unused :)

I don't know what WPT is (I'm pretty out of the loop), so a handy link to wherever the tests end up would be awesome.

[2020-05-27 20:46] sideshowbarker commented on #127
Hi @nolanw, WPT is https://github.com/web-platform-tests/wpt/

[2020-05-28 01:06] nolanw commented on #127
@sideshowbarker Thank you!

[2020-05-28 09:26] Ms2ger commented on #127
Moving to wpt SGTM.

[2020-05-28 23:39] craigbarnes commented on #127
If these tests are moved to WPT, does that imply changing the format at all?

[2020-05-29 14:36] gsnedders commented on #127
@craigbarnes no, it doesn't

[2020-06-01 07:32] hsivonen commented on #127
Since the [non-browser test harnesses](https://github.com/validator/htmlparser/tree/master/test-src/nu/validator/htmlparser/test) for the Validator.nu HTML Parser use the present input formats and are more sensitive to format changes that, as I understand it, the html5lib harness, I'd prefer to avoid format changes and I'd like to keep the non-scripted tree construction tests clearly separate from

[2020-06-04 10:13] zcorpan commented on #127
I'm ok with moving to wpt.

[2021-03-12 16:49] stevecheckoway commented on #107
Any updates on updating the errors in the test to reflect the spec?

The tree-construction stage still doesn't have its own error codes, unfortunately, but it'd be nice for the tests to at least have the correct number of errors.

[2021-07-09 09:16] Ms2ger opened #137 "Compat issue: <div><table><svg><foreignObject><select><table><s>"
Chrome:
![Chrome](https://user-images.githubusercontent.com/111161/125054955-07cd7e00-e0a7-11eb-836b-24d6398aa19c.png)
Firefox:
![Firefox](https://user-images.githubusercontent.com/111161/125055018-1a47b780-e0a7-11eb-98d0-5fb28708c576.png)
Not sure who's right.

[2021-10-10 14:43] JKingweb opened #138 "Number of parse errors for <!doctype html><math></html>"
Line 1044 of tests19.dat in the tree construction tests lists three parse errors:

[code]

I have only been able to identify two of them, the first in [foreign content parsing](https://html.spec.whatwg.org/multipage/parsing.html#parsing-main-inforeign):

And the second in [the "in body" insertion mode](https://html.spec.whatwg.org/multipage/parsing.html#parsing-main-inbody):

After that [the "afte

[2022-01-16 16:34] untitaker opened #141 "Add list of parsers that keep up with this in CI"
I want to add some tokenizer testcases, and so far have been field-testing them on html5lib-python, but would like to know if there are any parsers out there that would break on those testcases.

It would be nice to start collecting parsers that use any part of this testsuite in CI, in some sort of document, e.g. README. That would solve my usecase and also make it easier to discover conformant pa

[2022-01-16 16:37] untitaker commented on #141
https://sourcegraph.com/search?q=context:global+html5lib-tests+file:.gitmodules&patternType=literal

[2022-02-11 01:01] zcorpan opened #143 "Missing coverage for `<button><p></button>x`"
`button` is special in relation to `p` (in that `</button>` generates implied end tags),
...
I don't see a test for `<button><p></button>x`, so that is missing coverage.

_Originally posted by @zcorpan in https://github.com/html5lib/html5lib-tests/issues/142#issuecomment-1035690952_

https://html.spec.whatwg.org/multipage/parsing.html#parsing-main-inbody

[2022-03-01 23:56] untitaker commented on #127
not to derail the thread too much, but couldn't you "run" them in the browser by:

1) constructing tree/dom from the raw input of the test
2) constructing tree/dom from the expected output tokens of the test using some unrelated, non-browser "reference" tree builder implementation
3) compare the resulting doms

[2022-05-09 07:48] #143 closed

[2022-05-23 21:04] alexander-akait commented on #138
@fb55 sorry for ping, have the same problem, only 2 errors:
[code]

Maybe typo when we merge it like we fix it here https://github.com/html5lib/html5lib-tests/commit/6030cb6e40a0cf68ae38bf0001bb85b727b80a26?

[2022-05-23 23:10] fb55 commented on #138
@alexander-akait You should probably just open a PR with how you'd expect this to look, and one of the maintainers (which I am not) might merge it. That has worked for me in #146.